
flea_market_tui/menu.py
validation/__pycache__/regex.cpython-38.pyc
validation/__pycache__/dataclasses.cpython-38.pyc
validation/__pycache__/__init__.cpython-38.pyc
flea_market_tui/__pycache__/menu.cpython-38.pyc
flea_market_tui/__pycache__/domain.cpython-38.pyc
flea_market_tui/__pycache__/__init__.cpython-38.pyc
.idea/misc.xml
.idea/FleaMarketTUI.iml
.idea/misc.xml
flea_market_tui/menu.py
.idea/FleaMarketTUI.iml
.idea/misc.xml
.idea/FleaMarketTUI.iml
